In [3]:
import pandas as pd

file_path = "/Users/piyushnitinpawar/Desktop/Accident_ml/data/Raw Road Accident Data.xlsx"

df = pd.read_excel(file_path)
df.head()

,Accident_Index,Accident Date,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Latitude,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,...,Number_of_Casualties,Number_of_Vehicles,Police_Force,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200901BS70001,2021-01-01,Thursday,Give way or uncontrolled,T or staggered junction,Serious,51.512273,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,One way street,30,15:11:00,Urban,Fine no high winds,Car
1,200901BS70002,2021-01-05,Monday,Give way or uncontrolled,Crossroads,Serious,51.514399,Daylight,Kensington and Chelsea,NaN,...,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59:00,Urban,Fine no high winds,Taxi/Private hire car
2,200901BS70003,2021-01-04,Sunday,Give way or uncontrolled,T or staggered junction,Slight,51.486668,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19:00,Urban,Fine no high winds,Taxi/Private hire car
3,200901BS70004,2021-01-05,Monday,Auto traffic signal,T or staggered junction,Serious,51.507804,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,08:10:00,Urban,Other,Motorcycle over 500cc
4,200901BS70005,2021-01-06,Tuesday,Auto traffic signal,Crossroads,Serious,51.482076,Darkness - lights lit,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25:00,Urban,Fine no high winds,Car

In [5]:
df.shape

(307973, 21)

In [7]:
df.columns

Index(['Accident_Index', 'Accident Date', 'Day_of_Week', 'Junction_Control',
       'Junction_Detail', 'Accident_Severity', 'Latitude', 'Light_Conditions',
       'Local_Authority_(District)', 'Carriageway_Hazards', 'Longitude',
       'Number_of_Casualties', 'Number_of_Vehicles', 'Police_Force',
       'Road_Surface_Conditions', 'Road_Type', 'Speed_limit', 'Time',
       'Urban_or_Rural_Area', 'Weather_Conditions', 'Vehicle_Type'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident_Index              307973 non-null  object
 1   Accident Date               307973 non-null  datetime64[ns]
 2   Day_of_Week                 307973 non-null  object
 3   Junction_Control            307973 non-null  object
 4   Junction_Detail             307973 non-null  object
 5   Accident_Severity           307973 non-null  object
 6   Latitude                    307973 non-null  float64
 7   Light_Conditions            307973 non-null  object
 8   Local_Authority_(District)  307973 non-null  object
 9   Carriageway_Hazards         5424 non-null    object
 10  Longitude                   307973 non-null  float64
 11  Number_of_Casualties        307973 non-null  int64
 12  Number_of_Vehicles          307973 non-null  int64
 13  Police_Force                307973 non-null  object
 14  Road_Surface_Conditions     307656 non-null  object
 15  Road_Type                   306439 non-null  object
 16  Speed_limit                 307973 non-null  int64
 17  Time                        307956 non-null  object
 18  Urban_or_Rural_Area         307973 non-null  object
 19  Weather_Conditions          301916 non-null  object
 20  Vehicle_Type                307973 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(15)
memory usage: 49.3+ MB

In [9]:
df.isnull().sum().sort_values(ascending=False)

Carriageway_Hazards           302549
Weather_Conditions              6057
Road_Type                       1534
Road_Surface_Conditions          317
Time                              17
Accident_Index                     0
Number_of_Casualties               0
Urban_or_Rural_Area                0
Speed_limit                        0
Police_Force                       0
Number_of_Vehicles                 0
Longitude                          0
Accident Date                      0
Local_Authority_(District)         0
Light_Conditions                   0
Latitude                           0
Accident_Severity                  0
Junction_Detail                    0
Junction_Control                   0
Day_of_Week                        0
Vehicle_Type                       0
dtype: int64

In [10]:
df["Accident_Severity"].value_counts()

Accident_Severity
Slight     263280
Serious     40740
Fatal        3904
Fetal          49
Name: count, dtype: int64

In [11]:
df["Time"].head(10)

0    15:11:00
1    10:59:00
2    14:19:00
3    08:10:00
4    17:25:00
5    11:48:00
6    13:58:00
7    13:18:00
8    12:15:00
9    09:52:00
Name: Time, dtype: object

In [12]:
df["Time"] = pd.to_datetime(df["Time"], format="%H:%M:%S", errors="coerce")

In [13]:
df["Time"].head()

0   1900-01-01 15:11:00
1   1900-01-01 10:59:00
2   1900-01-01 14:19:00
3   1900-01-01 08:10:00
4   1900-01-01 17:25:00
Name: Time, dtype: datetime64[ns]

In [14]:
df["Year"] = df["Accident Date"].dt.year
df["Month"] = df["Accident Date"].dt.month
df["Day"] = df["Accident Date"].dt.day

In [15]:
df[["Year", "Month", "Day"]].head()

   Year  Month  Day
0  2021      1    1
1  2021      1    5
2  2021      1    4
3  2021      1    5
4  2021      1    6